@use './partials/mixins' as *;
@use './partials/reset' as *;
@use './partials/variables' as *;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
    background-color: grey;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #faf8f8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px none #ffffff;
  }